@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

.home{
    background: linear-gradient(to top,#EEF8FF, #D1F5FF);
    background: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/*Header Component*/
.headerContainer{
    width: 100%;
    
}
.velTitle{
    font-size: 3.5rem;
    text-align: center;
    color: #769FB6;
}

/*Slide Component*/
.slideWrapper{
    width: 100%;
    height: 50vh;
}
.card{
    width: 80%;
    margin: auto;
    height: 40vh;
    border-radius: 15px;
}